<html lang="en">

  <%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio debitis earum fugiat id quod expedita temporibus veniam cum dignissimos veritatis labore accusamus, quia magni rerum libero dolorem nemo nihil fuga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias tempora dolor, optio nisi necessitatibus aliquam incidunt vitae magni quo deleniti debitis accusamus veritatis, atque sapiente qui asperiores iure, aut doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, odit quasi consequuntur repellat mollitia dolorum aperiam molestias, ea quo dolorem eaque voluptas saepe quisquam reiciendis autem expedita nesciunt optio iste?</p>

    </div>
  
    <%- include('./partials/footer.ejs') %>
</body>
</html>